<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Yasen Info Harbor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>BMI Calculator</h1>
        <form action="." method="post">
            <p>
                Weight(kg): <input type="text" name="weight">
                Height(m):  <input type="text" name="height">
                <input type="submit" value="Calculate">
            </p>
        </form>
        <h2>{{ bmi }}</h2>
    </body>
</html>